<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<img style="max-width: 10%"
		th:if="${#strings.length(administrator.foto) >0}"
		th:src="@{'/upload/' + ${administrator.foto}}"
		th:alt="${administrator.foto}" />
	<ul>
		<li th:text="${administrator.primerNombre + ' ' +administrator.segundoNombre}"></li>
		<li th:text="${administrator.primerApellido +' ' + administrator.segundoApellido}"></li>
		<li th:text="${administrator.fechaRegistro}"></li>
	</ul>
	</form>
</body>
</html>